html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.brand-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: #333; /* Adjust color if needed */
}

.user-name {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.custom-navbar {
  background-color: #000000c8; /* Replace with your color */
}

.custom-navbar .navbar-brand,
.custom-navbar .user-name,
.custom-navbar .brand-text {
  color: white;
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000c8; /* Light gray background, change if needed */
  padding: 16px 0;
  z-index: 999;
}

.footer-label {
  font-size: 12px;
  margin-top: 4px;
  color: #ffffff;
}

footer .bi {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer-label {
    font-size: 11px;
  }
}

